---
import Layout from '../layouts/Layout.astro';
import Storefront from '../components/Storefront';
---

<Layout>
	<main class="container mx-auto max-w-6xl py-10">
		<Storefront client:load />
	</main>
</Layout>
